/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 45px;
}
.navbar-brand h1 { /*Brand Name */
  font-family: 'Lora', serif;
  color: blue;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.row {
 
  position: relative;
}

#main-text{

  height: 1000px;
  width: 100%;
  margin: 25px auto 25px 25px;
  border: 2px solid blue;
  background-color: gray;
  font-weight: bold;

}